<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>About</h1>
        <div>
            This tutorial has been put together by...<br/>
            <strong>{{ boldmessage }}</strong>
        </div>
        <div>
            <a href="/rango/index">Home</a>
            <br/>
            <img src="{% static "images/stockphoto.jpg" %}"
                alt="Picture of a pained looking man in an orange jumper"/>
        </div>
        <div>
            <img src="{{ MEDIA_URL}}cat.jpg"/>
        </div>
    </body>

</html>